.container {
    background-image: url("../../assets/dos-bastardos.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonContainer {
    padding-top: 400px;
}

.button {
    padding: 10px;
}