.container {
    background-image: url("https://res.cloudinary.com/drnryofoj/image/upload/v1685078110/dos-bastardos/dos-bastardosResize_kd4ah1.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonContainer {
    padding-top: 400px;
}

.button {
    padding: 10px;
}