.container {
    background-image: url("../../assets/dos-bastardos-fondo.jpg");  
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 500px;
    flex-direction: column;
}

.buttonContainer {
    padding-top: 300px;
}

.button {
    padding: 5px;
}

.text {
    
    font-size: xx-large;
    font-family: 'EB Garamond', serif;
    color: aliceblue;
}